[2019-02-23 21:08] JamesHawkinss opened #48 "Add to dump command"
- Add a dump argument to dump a list of registered permissions
 - Add a dump argument to dump a list of registered commands

[2019-02-23 21:09] JamesHawkinss opened #49 "Force ban command"
You will need to use ShardManager#retrieveUserById to do this since force ban is designed to be used on people who aren't in the guild.

[2019-02-23 21:10] JamesHawkinss opened #50 "Unban command"

[2019-02-23 21:11] JamesHawkinss commented on #50
#42

[2019-02-23 21:11] #49 closed

[2019-02-23 21:11] #48 closed

[2019-02-23 21:59] binaryoverload commented on #50
There is already a PR for this

[2019-02-23 21:59] #50 closed

[2019-02-24 13:00] binaryoverload opened #51 "Moderation Manager"
It will be good for us to have a central moderation manager that allows all moderation actions to have consistency in terms of errors and responses and also allow easy integration with the modlog system when we decide to do it

[2019-02-24 16:16] binaryoverload commented on #51
Moderation actions that need to be implemented:
•  BAN
•  KICK
•  SOFTBAN
•  WARN
•  MUTE

[2019-02-24 17:21] binaryoverload commented on #51
The main method for this will be a `handleModeration` method having the following parameters:
 - `context` - The command context to be able to access guild information as well as respond back to the user
 - `action` - The moderation action to be executed, this will be one of the items off [the list](https://github.com/CascadeBot/CascadeBot/issues/51#issuecomment-466790680)
 - `target` - The `Membe

[2019-02-24 18:57] binaryoverload commented on #51
@CascadeBot/cascadebot-contributors Anything to add to this?

[2019-02-24 19:12] JamesHawkinss commented on #51
Looks good at the moment, this would simplify things a lot and would also make creating new moderation commands.

Would we be able to make this sort of manager for informational commands as well, or would it not be worth it? @BinaryOverload

[2019-02-24 19:15] binaryoverload commented on #51
What sort of manager have you got in mind for informational? I don't see a common feature we could be able to have across different informational commands. Maybe a better way to do different embed fields but it wouldn't be a manager.

[2019-02-24 19:18] JamesHawkinss commented on #51
Perhaps not for specifically informational but instead one for error messages? We seem to reuse several of (nearly) the same errors and having a centralised system for calling error messages might be good for continutity between commands.

[2019-02-24 19:19] binaryoverload commented on #51
Draft up your ideas and examples into another issue, I like where you're coming from.

[2019-02-25 17:23] JamesHawkinss opened #52 "Error Message Manager"
The main method (that's what it's called right?) will be called errorMessage and have the following stuff

* `noUserFound` - A standard error message for when the bot can't find the specified user
* `noGuildFound` - Similar to the above but for guilds
* `missingPermssion` - When the bot doesn't have the required permission

If anyone has any suggestions for more error messages feel free to comment

[2019-02-25 17:24] binaryoverload commented on #52
@weeryan17 Interested on your feedback on this

[2019-02-25 17:28] binaryoverload commented on #52
How I imagine this working is passing in a parameter of either `Object...` or `String...` and using that like String.format(). `Object...` would be better as it allows anything to be passed into it.

[2019-02-26 16:02] weeryan17 commented on #52
@JamesHawkinss you thinking of having multiple methods, or just one method? in your suggest you both said main method and then listed multiple methods

[2019-02-26 16:08] JamesHawkinss commented on #52
I think just one main method for now, but if you think multiple methods would be better than we should go with that?

[2019-02-26 16:23] weeryan17 commented on #52
I was asking you because you said main method and then listed multiple methods. Start doing some planning for now the method will work.

[2019-02-26 16:24] JamesHawkinss commented on #52
I actually have no idea how it *will* work...

[2019-02-26 17:03] binaryoverload commented on #52
I think we should use multiple methods as a single method could get convoluted.

[2019-02-26 17:15] binaryoverload commented on #52
A method I'm thinking of goes something like this:
[code]

[2019-02-26 17:16] weeryan17 commented on #52
If we're going to be going the multiple methods route it would probably be best to put this in context

[2019-02-26 17:16] binaryoverload commented on #52
We could yeah 🤔

[2019-02-26 17:18] binaryoverload commented on #52
The only issue I see with that is that if we want to add more error messages that's *another* thing we've plopped into context

[2019-02-26 17:40] weeryan17 commented on #52
putting it elsewhere will just be harder to access, and cause it to where you have to use two different things to reply. context, and the error handler.

[2019-02-26 17:40] binaryoverload commented on #51
@weeryan17 Anything you would like to see make it into the new feature?

[2019-02-26 17:44] weeryan17 commented on #51
Not really. the only thing I'd like to mention is if we're going with on central method that method is going to be really complicated. maybe we could have a method for temp and a different method for everything else? Also i noticed you didn't bring up temp punishments here so we should plan those out as well cause i feel like those should be in the moderation manager.

[2019-02-26 17:48] binaryoverload commented on #51
Well my plan is to have this one method call different methods so it won't be one huge method. And the system will allow for temp just fine I just won't implement it

[2019-02-26 17:50] weeryan17 commented on #51
Sounds good then

[2019-02-26 17:51] binaryoverload commented on #51
@mrjvs Any insights on how we should do the UX for displaying various messages relating to moderation actions?

[2019-02-26 18:10] binaryoverload commented on #52
I think if we put it in context it'd have to be one method that either accepts a string message (We can store constants somewhere) or an Enum which contains the string to be used.

[2019-02-26 18:12] weeryan17 commented on #52
I think we need to redesign context overall. it's a little messy atm.

[2019-02-26 18:23] binaryoverload commented on #52
If you wanna do that feel free, I don't see a way that we easily could while still maintaining the functionality we need

[2019-02-26 18:31] mrjvs commented on #51
Wasn’t expecting this oof, i don’t have any ideas atm. I’ll get back to this tomorrow as I’m taking a day off to relax.

[2019-02-27 11:27] mrjvs commented on #51
https://i.imgur.com/Os34UJn.png here is visual representation of responses. All of the errors can and should be in the same format for all moderation actions (maybe phrase it a bit different, im looking at you binary. it should not be fields tho, sentences should flow easily instead of just stating stuff). format should also be consistent for the command structure, the last thing you want when ban

[2019-02-27 13:06] binaryoverload commented on #51
@mrjvs Awesome thanks. On the context of colours, at the moment we just use standard red, green and yellow colours provided by Java. Did you want us to continue using these or did you want to have others?

[2019-02-27 14:00] mrjvs commented on #51
@binaryoverload custom colors probably, just have an enum with colors ready for easy modification for later.

[2019-02-27 14:20] binaryoverload opened #53 "Custom colours"
Use custom colours for the different message types. At current, the different messages types we have are:
- Info
- Success
- Warning
- Moderation
- Danger
- Neutral (Uses Cascade red)

[2019-02-27 14:24] binaryoverload commented on #51
Sounds good, I have opened #53 relating to this

[2019-02-27 14:27] binaryoverload commented on #53
Relating to https://github.com/CascadeBot/CascadeBot/blob/dev/src/main/java/com/cascadebot/cascadebot/messaging/MessageType.java

[2019-02-27 14:28] binaryoverload commented on #53
The custom colours should be put in `com.cascadebot.shared.SharedConstants`

[2019-02-27 14:35] weeryan17 opened #54 "Command Context Redesign"
So we where talking about this recently in issue #52. I have a few ideas of how we could handle this.
1. Enumize command context:
    Currently in command context we have a buch of replyInfo, replyWarning, ect.... we could switch those over to being replyTyped and use the enum we already have for message types.
2. Expand the messaging package and move all messaging stuff over their.
    This would

[2019-02-27 14:39] binaryoverload commented on #54
I do like the idea of enumising command context (Enums :heart_eyes:). I think adding an overload for `reply(` would be better instead of creating a new method as `replyTyped` reads weirdly in my head.

Would look something like this `reply(MessageType.DANGER, "Ahhhhh")`

The only thing with this is it makes it longer to type in the commands but the trade off is probably worth it in terms of organi

[2019-02-27 14:57] weeryan17 commented on #54
I was leaning more twords expand the messaging package as cleaning up context now can still cause it to become huge later where as with expanding the messageing package we'd have things split out better, and we really whouldn't fill up any of the classes, although I'm fine with ether method.

[2019-02-27 15:06] binaryoverload commented on #54
Oh I didn't realise that it was two different methods woops mb. Yeah I'm with you on moving to the Messaging class although I do think we should keep some basic reply methods in context for ease of use perhaps?

[2019-02-28 13:32] binaryoverload commented on #51
Waiting on #46 so I can integrate the manager into in

[2019-03-09 09:20] binaryoverload opened #56 "Usage command"
For ease of use, it's best to have a `;usage` command to print out the usage of any command. This can use the `CommandManger#getCommand` and `CommandContext#replyUsage`

In addition to this, I'd possibly like to look at the usage layout. For reference: https://thedudeinthecorner.xyz/files/TMwL7.png was what we had on FlareBot. cc: @mrjvs

[2019-03-11 21:03] binaryoverload opened #58 "Command/Feature flagging"
Add functionality to add flags to things so we can check whether this feature should be done. For now, this will just be the `beta` flag to introduce commands/features that are only for the beta program.

The flags I can forsee us needing:
 - Alpha??
 - Beta
 - Patreon Tier 1
 - Patreon Tier 2
 - Patreon Tier 3

**These are just examples for the Patreon!**
I won't be implementing anything other th

[2019-03-11 21:17] binaryoverload commented on #58
Requesting review from: @weeryan17 and @mrjvs

[2019-03-12 22:07] mrjvs commented on #58
Alpha/indev could be nice. waiting for Patreon meeting for this would be best btw

[2019-03-12 22:09] binaryoverload commented on #58
Well all the Patreon would be is extra flags. Right now I just have Alpha/Beta to implement, I'm definitely not adding Patreon stuff till we have a solid plan.

On Flare we used Beta for indev stuff, what would you say the difference between the two is @mrjvs?

[2019-03-12 22:31] weeryan17 commented on #58
I mean alpha is essentially the testbot. I understand having a beta flag to give people access to some feature early on the main bot, but alpha is really just the test bot witch we shouldn't be releasing publicly so no alpha flag i'd say,

[2019-03-12 22:33] weeryan17 commented on #54
Yegh maybe some really basig ones, but anything more complex should be in a separate class

[2019-03-12 22:34] binaryoverload commented on #58
What I can do is start implementing the core parts of this feature and leave the specific details to be discussed about, sound okay?

[2019-03-12 22:34] weeryan17 commented on #58
Sounds fine

[2019-03-19 17:56] binaryoverload opened #62 "Forceban Command"
At the moment, we do not have a force ban command which means that people can only ban people from their guild.

Should we:
 - Add a force ban command which retrieves a user
 - Add a way for the current ban command to "force ban" a user

[2019-03-19 17:56] binaryoverload commented on #62
@weeryan17 Opinion please 😄

[2019-03-19 17:57] JamesHawkinss commented on #62
BAGSY

[2019-03-19 17:57] JamesHawkinss commented on #62
@binaryoverload we should add a force ban option to the current command. Perhaps if the end of the command contains -forceban then it'll force ban them?

[2019-03-19 18:09] weeryan17 commented on #62
I like the idea of implementing it into the ban command, but we need to find a good way to do it.

[2019-03-19 18:15] binaryoverload opened #64 "Language"
So a few meetings ago, we decided that we would implement a language system due to the fact @mrjvs will be doing the same on the website.

Since we already use YAML for our config, I think we should do the same for the language. This will allow for the easy specification of strings (Unlike something like JSON) and also easily allow nesting if so needed.

To access the language string, I think a he

[2019-03-19 18:16] weeryan17 commented on #54
@binaryoverload we good to go with working on this then?

[2019-03-19 18:16] binaryoverload commented on #54
If you're happy to go for it :)

[2019-03-19 18:19] weeryan17 commented on #62
Maybe if we don't find the member in the guild but find a user we could tell them `we couldn't find [user] in the guild would you like to force ban them?` with a button. I believe we could even use confirm utils for this.

[2019-03-19 18:20] JamesHawkinss commented on #64
I have no clue how to set this up, but once someone has done the groundwork I'm more than happy to go through switching all the strings for stuff like that :)

[2019-03-19 18:23] weeryan17 commented on #64
I think we need to plan out how we're going to do this before we talk about how we're going to retrieve lang. You saw the video binary. lang is complex so before we start taking about using lang we should talk about the senerios that pop up in different languages that we need to account and make a system for.

[2019-03-19 18:26] binaryoverload commented on #62
Thing is, I don't want to always be making requests to discord if the user doesn't exist in any of the guilds the bot is in cause that will end up being a lot of requests. This is why we originally used the forceban command as we would only make the request if the user wanted us to.

[2019-03-19 18:28] weeryan17 commented on #62
I mean we could look for them in the guild first and if they're not found their look to discord only if they provided an id

[2019-03-19 19:35] binaryoverload commented on #62
Could do yeah

[2019-03-19 19:56] binaryoverload commented on #62
@JamesHawkinss You okay to have a look at this?

[2019-03-19 20:08] weeryan17 commented on #54
@binaryoverload can you take a look at the latest commit on the `core/command-context` branch and give my your opinions.

[2019-03-19 20:21] JamesHawkinss commented on #62
I'll see what I can come up with :)

[2019-03-19 21:09] binaryoverload commented on #64
Honestly, I think worrying about the ins and out of different scenarios is a bit out of the scope of the project. I think a simple system where each string has value placeholders would be okay to do.

[2019-03-19 21:12] weeryan17 commented on #64
If we want to have proper lang just replacing strings dosn't work

[2019-03-19 21:24] binaryoverload commented on #64
It will for the most part. I think I have some good ideas on utils which can allow for flexibility also

[2019-03-19 21:28] binaryoverload commented on #64
#### Time util class
So we have two methods
`I18n#formatTime(int time, TimeUnit unit)`
`I18n#formatTime(long duration)`

This can use special fields we set in the lang file like
day, days, hour, hours, seconds etc for each language.

This means that we can create a good util on how time is represented.

[2019-03-22 21:30] JamesHawkinss commented on #62
#67

[2019-03-26 17:40] #58 closed

[2019-03-26 17:40] #51 closed

[2019-03-26 18:10] binaryoverload opened #72 "Music"
Woohoo it's that time to start getting a good ol' music system implemented :D

This issue will act as a overal TODO list, I'm welcoming different people to PR different sections

### Core management functionality
Each guild requires a music manager that handles:
 - [x] The music queue
 - [x] Currently playing track
 - [x] Playlists
   - [x] Saving
   - [x] Loading

This music manager will be store

[2019-03-26 18:13] JamesHawkinss commented on #72
WOOOOOOOO MUSIC WOOOOOOO

[2019-03-27 14:49] weeryan17 commented on #54
pr #74

[2019-03-27 23:10] weeryan17 commented on #72
@JamesHawkinss and @Ikinon if you two want to get started I already have a lot of the stuff their for you two to make commands.

[2019-03-27 23:24] weeryan17 commented on #72
Btw the shuffle command should also be a thing

[2019-03-28 16:28] #62 closed

[2019-03-30 20:37] #54 closed

[2019-03-30 20:41] binaryoverload commented on #52
Superceded by #64

[2019-03-30 20:41] #52 closed

[2019-03-30 20:44] binaryoverload opened #79 "Permissions"
With this permission system, we will have two models: Hierarchy and most restrictive
These two modes are detailed here: [Permission Models](https://user-images.githubusercontent.com/15330699/55288006-d6828580-53a8-11e9-9a06-d22a3ef83bf1.png)

### Dashboard Perms
 - Separate dashboard command for configuration of permissions
 - Permissions for viewing & each part of the dashboard
 - Invite system

[2019-03-31 08:15] binaryoverload opened #80 "Roadmap"
See the roadmap project here: https://github.com/orgs/CascadeBot/projects/3
## Alpha Release - Q2 2019
 - [x] Permissions system #79
 - [x] Music system #72
 - [ ] Language #64 #101
 - [x] Moderation #62 #51 #57 #46 #50 #67 #42
## Beta Release - Q4 2019
 - Web panel
 - Moderation logging
 - CSS (Cascade Server Scripting), btw we might need to change this name.
## Full release - Who knows 👀
 - Link

[2019-03-31 16:27] binaryoverload opened #82 "Emoji Constants"
Throughout the bot we use a lot of emojis so I see two solutions:
1. Create an EmojiConstants class which contains string constants of the various emojis that we use
2. Use an external library that gets emoji by name. This would be useful for any future commands we do and also custom commands

[2019-04-06 19:10] binaryoverload commented on #82
Done 💥

[2019-04-06 19:10] #82 closed

[2019-04-12 21:27] #56 closed

[2019-04-21 15:08] #79 closed

[2019-04-21 20:03] binaryoverload opened #93 "Tags command"
And so we introduce the lovely tags system or "text-based custom commands" as @weeryan17 likes to call it.

This is effectively a system that maps a key to text. A common use for this is rules, knowledge base and support messages for servers along with much more!

Alongside this, we will be adding a category system that will allow tags to be split into different categories such as moderation, know

[2019-04-21 20:21] weeryan17 commented on #93
@binaryoverload you should also mention we're going to have variables like `{time}` `{arg[0]}` that he'll need to process.

[2019-04-21 20:22] binaryoverload commented on #93
Ah yes, we'll have different variables like member, args, time etc

When the system is more complete we can come to that

[2019-04-21 21:05] JamesHawkinss commented on #93
Would someone be happy to help me out with this, not sure exactly where I'd start :,)

[2019-04-21 21:07] binaryoverload commented on #93
I'd be happy to, to start with you just need to create the Tag object in `com.cascadebot.cascadebot.data.objects` and add the map to `GuildData` :)

[2019-04-22 07:53] JamesHawkinss commented on #72
How much more needs to be done on this one?

[2019-04-22 07:53] binaryoverload commented on #72
Queue, load and save

[2019-04-25 21:26] JamesHawkinss commented on #64
#98

[2019-04-26 15:05] JamesHawkinss opened #99 "Roles revamp"
@binaryoverload suggested that we add a system whereby you can see how many people have a certain role. We first considered implementing this into ;userinfo, but I reckon we should just add it to ;roles.

We can add another column for the amount of users with certain roles, and add the required information.

[2019-04-26 15:18] JamesHawkinss commented on #53
now https://github.com/CascadeBot/CascadeBot/blob/dev/src/main/java/org/cascadebot/cascadebot/messaging/MessageType.java

[2019-05-11 15:58] binaryoverload commented on #53
@mrjvs I'd like this for Alpha, will you be able to get this done?

[2019-05-11 16:11] binaryoverload opened #102 "Improvements to Guild command"
Some minor improvements need to be done to the guild command. These should be relatively easy.

---
Add a `;guild info` command that shows information such as:
- The flags that are enabled/disabled. This should be shown as a list of all the tags with a ✅ or a ❌next to it
- The date our bot joined the guild

Nothing else for now, this will eventually include more information such as whether the gui

[2019-05-12 09:37] JamesHawkinss commented on #102
OwO

[2019-05-12 12:21] binaryoverload commented on #64
Closing this issue as the PR is underway. For reference, we decided to use the http://site.icu-project.org/ to format our language properly.

[2019-05-12 12:21] #64 closed

[2019-05-12 12:22] binaryoverload commented on #93
The PR #95 is underway.

[2019-05-12 12:22] #93 closed

[2019-05-13 21:03] weeryan17 commented on #72
Closing this as music is done

[2019-05-13 21:03] #72 closed

[2019-05-16 15:49] weeryan17 opened #106 "Permissions command"
So I just realized we don't have a permissions command yet, and that's kind of important.
We need to account for both permission modes via commands, and probably have a way to test perms.
As permissions are complicated we're open to ideas for command structure.

[2019-05-21 11:30] binaryoverload commented on #106
I'm thinking we do something similar to how [GroupManager structures their commands](https://wiki.mc-ess.net/wiki/Group_Manager/Commands). Now there's two ways of doing this: one way is to have separate commands for editing users, groups and other items; the other way is to, like in group manager, have a completely separate command for each action. I personally always found a command for every opt

[2019-05-21 11:38] binaryoverload opened #109 "Settings annotation"
At the moment, our current settings for each of the guilds is quite fragmented. We have most of the boolean settings in `GuildSettings` and other settings we don't want the user to directly change in the `GuildData`.

This causes issues for a number of reasons:
 - The settings are put in different places so it is not obvious where a setting would be contained
 - There is no way to add meta informa

[2019-05-21 13:57] weeryan17 commented on #109
I mean the GuildSettings is what users can change directly makes seance in my mind at least, and makes it easier for us to just use reflection to change everything their. Maybe we could have a class for settings we want a user to directly change, and then a class for settings that are close to the user directly changing it (like enabled modules for example), but yeah the settings annotation sounds

[2019-05-21 14:01] weeryan17 commented on #106
I'm actually thinking maybe one giant permissions command might not be too bad this time around, and one of the main issues we had with that was in code, and now that we have sub commands the code shouldn't be too bad. I also like the different group ans user commands idea, but we need to find a way to preface those commands so your not just running `;user` as that's very ambiguous.

[2019-05-21 14:20] binaryoverload commented on #109
My idea with the annotation is that we can use the reflection we when already and just make it check whether the user is able to edit it directly. This way they're both in the same place and we can easily serialise the GuildSettings class to import and export data

[2019-05-21 14:23] weeryan17 commented on #109
Well yes we can do that we'll still run into issues of what goes in guild settings and what goes in guild data, as everything in guild data could be considered a setting.

[2019-05-21 14:24] binaryoverload commented on #106
Yeah I hear you, I'm gonna say let's talk about this more in the meeting

[2019-05-25 17:08] JamesHawkinss commented on #102
Ready for review y'all

[2019-05-26 11:25] binaryoverload opened #113 "Project Lombok"
We are going to start using [Project Lombok](https://projectlombok.org/) for getters, setters, equals hashcode etc to reduce boilerplate code.

Everyone will have to install the Lombok intellij plugin for this to work properly.

[2019-05-26 15:55] weeryan17 commented on #106
after talking about it during the meeting we decided on doing module based permission command
example
`;userperms <add/remove/etc>`
`;groupperms <add/remove/etc>`
`;misc`

[2019-06-01 13:33] #109 closed

[2019-06-01 13:33] #113 closed

[2019-06-01 13:33] #99 closed

[2019-06-05 13:27] binaryoverload commented on #80
We have the [road map project](https://github.com/orgs/CascadeBot/projects/3). No point in having this

[2019-06-05 13:27] #80 closed

[2019-06-07 18:06] #102 closed

[2019-06-14 17:22] #53 closed

[2019-06-15 16:45] DeadlyFirex opened #126 "[Bug] Userinfo does not return right"
**Describe the bug**
A clear and concise description of what the bug is.
Whenever you try to get information on valid user bot cannot see, it does not return invid user embed

**To Reproduce**
Steps to reproduce the behavior:
1. Type ;userinfo `ID from someone bot cannot see`

**Expected behavior**
A clear and concise description of what you expected to happen.
- Catched error and clear embed tell

[2019-06-15 16:48] binaryoverload commented on #126
`;userinfo` on its own will not error. This must be with a user the bot can't see. We need more screenshot/stacktraces please

[2019-06-15 16:48] Ikinon commented on #126
Can reproduce https://hastebin.com/riyinisoko,
Give a user that cannot be seen by the user by ID

[2019-06-15 16:55] JamesHawkinss commented on #126
Can reproduce https://hastebin.com/vecezovege
Provide the ID of a user that the bot cannot see.
Command: `;userinfo 80972065296887808`

[2019-06-16 08:35] binaryoverload opened #127 "Contributing guidelines"
So, at the moment, our [contributing guidelines](https://github.com/CascadeBot/CascadeBot/blob/dev/.github/CONTRIBUTING.md) are quite empty!

At the moment, the code style and repository structure are over on the wiki.

What should we add to this? I'm a bit stuck for ideas 😅

[2019-06-16 08:38] JamesHawkinss commented on #127
Perhaps something about respecting and appreciating other contributors? So that when we release, we don't get scummy people being rude when given advice or suggestions to improve their PRs.

[2019-06-16 08:40] binaryoverload commented on #127
That's *sorta* in the code of conduct but yeah it's a good possibility!

[2019-06-16 08:42] JamesHawkinss commented on #127
Not sure if this is already written elsewhere, but something about not starting a task that someone else has started. Say if someone is assigned to an issue on the GH Project, then let them complete it unless they specifically say otherwise.

[2019-06-16 08:44] JamesHawkinss commented on #127
Make it a necessity for contributors to be in our Discord server, so that we can communicate more easily with them and they're kept up to date with crap.

[2019-06-16 08:47] binaryoverload commented on #127
I don't think it's a necessity but we'll strongly advise it. Along with this I was thinking something like:

Tips for contributing:
  - Make yourself familiar with our codebase! This will help you avoid a lot of changes when it comes to PR time
  - Make sure you are familiar with the JDA library. The [docs](https://ci.dv8tion.net/job/JDA/javadoc/index.html?overview-tree.html) can very helpful
  -

[2019-06-16 09:14] JamesHawkinss opened #129 "Status Command"
I was looking through Flare code and I thought it would be a cool idea to have a Status command, to be able to view the bot's status. I'm sure this will inevitably be shown on the Web panel, but I thought I'd make a suggestion for such a command here.

For reference, here's the Flare command: https://github.com/FlareBot/FlareBot/blob/master/src/main/java/stream/flarebot/flarebot/commands/informati

[2019-06-16 10:19] binaryoverload opened #131 "🔒❄ Alpha feature freeze ❄🔒"
After these issues:
- ~~#129~~
- ~~#127~~
- ~~#126~~
- ~~#106~~

and these PRs:

- ~~#130~~
- ~~#128~~
- ~~#125~~
- ~~#124~~
- ~~#123~~
- ~~#121~~
- #101

are completed, we will only accept PRs and Issues relating to bugs/minor improvements to existing code. Any other submitted PRs will be closed!

[2019-06-16 11:57] #126 closed

[2019-06-16 17:31] DeadlyFirex commented on #127
##### Ideas for on the guidelines

- Do not feature something useless, take a look at what is important and implement that.
- Behave respectfully to people on your PRs, take their advice seriously and  be patient
- Fixes and improvements are to be put as much as possible in one PR
- When reporting an issue, be as complete as possible, try testing the bug and actually post stacktraces that will hel

[2019-06-16 17:42] binaryoverload commented on #127
That's a very thorough list, very helpful!

[2019-06-16 18:45] DeadlyFirex commented on #129
I think this should be in the Beta, but that's my personal opinion, it looks like the perfect command to take a look at how the backend behaves instead of manually checking, highly recommended, we could extend this however. In my opinion a must have

[2019-06-20 21:00] #127 closed

[2019-06-20 22:21] #106 closed

[2019-06-24 21:41] #129 closed

[2019-07-10 09:13] binaryoverload opened #142 "Donate command"
We need a command to display information about donating. Would display the Patreon and possibly the cascade email to directly send money to.

[2019-07-10 17:27] DeadlyFirex commented on #142
👍

[2019-07-14 11:27] #131 closed

[2019-07-14 11:27] binaryoverload commented on #131
It's beta time!

[2019-07-14 16:57] weeryan17 opened #147 "Help/Commands Command"
The bot is going to need a help command to show all the commands and their descriptions.
It should be paged by module, and only show commands you have access to permission wise.
We might even want to have a page for info on how to use the bot.

[2019-07-14 17:02] weeryan17 opened #148 "Mod log"
You sould know what this is suppose to do.
One thing we will have different is different logs should have the option to go to different channels like on flare.
As of right now don't worry about message delete/edit. I need to put some work in before we can do that.

[2019-07-14 17:04] DeadlyFirex commented on #148
Roger

[2019-07-14 17:05] DeadlyFirex commented on #147
Alright, going to work on this

[2019-07-14 17:07] binaryoverload opened #149 "Fix quote arg splitter algorithm"
At the moment, the arg splitter I designed has several flaws such as:
 - Doesn't play nicely in eval
   - Nested bracket context needs checking
   - I need to improve the way I detect a opening quote, the way I use currently is just plain lazy...
 - Converts ' to " lazily

[2019-07-14 17:10] weeryan17 opened #150 "Reaction role system"
A system to where when you react to a message it add, or deletes a role from you. Admins should have the option of weather it's an add, an add/remove, or just a remove, and be able to customize the message. you can't use the button system as is for this as buttons are temporary. Instead the current button system should be modified to allow for persistent buttons.

[2019-07-14 17:12] binaryoverload opened #151 "Whitelist/blacklist for users/channels"
Add a feature that allows server admins to whitelist or blacklist users or channels from using commands. This could optionally include individual command whitelisting/blacklisting.

[2019-07-14 17:13] weeryan17 opened #152 "Vote/Poll command"
A command to allow users to vote on something. This can easily be hooked into the existing vote system.

[2019-07-14 17:14] binaryoverload opened #153 "ToDo list command"
A command that allows a user to create a todo list (Per-channel/per-guild/per-user?) and tick items off. This would be helpful for our meetings as well as the agenda.

Not sure what module this would go in

[2019-07-14 17:16] weeryan17 opened #154 "Temp moderation commands"
temp mute, temp ban, mute commands.
This will require working with mongodb to create a future actions table.

[2019-07-14 17:21] Ikinon commented on #152
:+1:

[2019-07-14 19:14] DeadlyFirex opened #155 "Purge command"
A clean command that is subdivided into cleaning messages in the following forms:
- [x] Images
- [x] Links
- [x] Specific user
- [x] All messages
- [x] Bot messages
- [x] Messages that contain something
( I am working on this )

[2019-07-14 19:25] DeadlyFirex commented on #155
Are all done

[2019-07-14 19:26] binaryoverload commented on #155
Done a checklist for you :P

[2019-07-15 16:31] JamesHawkinss commented on #142
I'll take this one, @binaryoverload please assign :)

[2019-07-17 06:57] binaryoverload opened #158 "Better utils for getting numbers from args and checking that args are a number."
Using Double/Long/Integer/Float.valueOf() and a try catch seems to be a better option than regex

[2019-07-17 06:58] binaryoverload opened #159 "Patreon integration"
- web panel gifting patreon features to guilds
- web panel linking patreon account

[2019-07-17 07:01] binaryoverload opened #160 "Add a product key like system that allows us to:"
- Automatically assign users to plans with Patreon/Other services in the future
 - Allows us to assign individual features (Like beta or music services) to a guild
 - Stores this information in a separate collection to allow keys to be transferred

[2019-07-17 07:02] binaryoverload opened #161 "Some fun commands"
- [x] color (hex, random + html colors)
- [x] random number
- [ ] remindme

[2019-07-17 07:06] binaryoverload opened #162 "Lock and slowmode commands"
Lock command should be able to lock:
 - Individual channel
 - Whole guild
We'll have to think about we're going to handle roles and denying them. We'd need to make a backup of the permissions to restore after unlocking.

Slow mode command allows server admins to set a slow-mode that's not available in Discord like 1s or some other arbitrary time.

[2019-07-17 07:16] binaryoverload opened #163 "GraphQL API"
We need to create the schema for all the API actions.

All the guild data will be under one parent guild object similar to how it is in code.

We're also going to use GraphQL mutations also so an interface for that needs to be created.

[2019-07-17 07:18] binaryoverload opened #164 "Custom scripting 🎉"
🎉 The feature we've been waiting to implement.

Scripting will be based on the Rhino JS engine which allows us to lock down everything sufficiently. Everything non-vanilla Javsscript that we want users to be able to access will have a specialised class to pass in. **Under no circumstances** should any JDA object from the bot be directly passed in as that will give the user full control of the bot.

[2019-07-31 17:32] JamesHawkinss opened #169 "[Bug] LavaPlayer + YouTube API"
**Describe the bug**
When telling the bot to play music, it errors with the following error: https://hasteb.in/axixixon

**To Reproduce**
Steps to reproduce the behavior:
1. Join the bot to a channel
2. Tell the bot to play music
3. BAM it broke

**Expected behavior**
I expected the bot to play music

[2019-07-31 17:41] JamesHawkinss commented on #169
Fix by updating LavaPlayer to latest version.

[2019-07-31 17:43] mrjvs commented on #169
1.3.19 to be exact.

[2019-07-31 18:43] binaryoverload commented on #169
Do we know that updating lavaplayer fixes this? If so, make a PR. Doesn't matter that it's single line

[2019-07-31 18:47] mrjvs commented on #169
I've already confirmed that it is indeed fixed in 1.3.19

[2019-07-31 21:05] JamesHawkinss commented on #169
Issue fixed on production, thanks Ryan.

[2019-07-31 21:05] #169 closed

[2019-08-31 18:03] DeadlyFirex commented on #155
All commands are done a very long ago, going to work on optimization today and tommorow, then PRA

[2019-09-29 20:47] #147 closed

[2019-09-29 20:50] #149 closed

[2019-10-03 19:05] #158 closed

[2019-10-08 05:38] DeadlyFirex commented on #155
Everythings done!

[2019-10-08 05:44] DeadlyFirex commented on #153
Don't forget to close this @weeryan17

[2019-10-08 05:46] DeadlyFirex commented on #150
Alrighty! I will work on this feature @weeryan17

[2019-10-14 06:49] #155 closed

[2019-10-14 07:21] DeadlyFirex commented on #162
Going todo this

[2019-10-14 13:17] #153 closed

[2019-10-25 13:37] JamesHawkinss opened #189 "Uxui Improvements"
# James
- [x] Add aliases to usage command - @JamesHawkinss
- [x] Add icon to ;stats shard status - @JamesHawkinss
- [x] Settings list improve - @JamesHawkinss
- [x] setting set. Turn setting in code block - @JamesHawkinss
- [x] Reformat flags to ICON - FLAG - @JamesHawkinss
- [x] Add advertisement to flags command - @JamesHawkinss
- [x] Tag needs alias "tags" - @JamesHawkinss
- [x] Tag list needs

[2019-10-31 22:56] weeryan17 commented on #189
that should go on the group picker code if i understand what this is.

[2019-10-31 22:58] weeryan17 commented on #189
wat

[2019-11-12 22:17] #163 closed

[2019-11-15 15:51] #160 closed

[2019-12-31 18:22] DeadlyFirex commented on #161
Why have I not been assigned to this to some point, considering I've done both color and random number?

[2019-12-31 18:24] DeadlyFirex commented on #189
I will gradually push out changes over the course of the week, expect progress

[2019-12-31 18:25] DeadlyFirex commented on #162
Can you make a checklist @binaryoverload ?

[2019-12-31 18:25] binaryoverload commented on #161
You didn't ask to do the remindme command. Since color and random are done and remind will be done after I do scheduled tasks, there's no point assigning you now 😄

[2019-12-31 19:42] binaryoverload commented on #162
- [ ] Slowmode command
 - [ ] Lock command

[2020-01-07 22:09] #142 closed

[2020-04-25 16:12] TitusEntertainment opened #212 "[Bug] Mentioning cascade doesn't show prefix"
**Describe the bug**
mentioning cascade doesnt show prefix

**To Reproduce**
Steps to reproduce the behavior:
1. mention cascade

**Expected behavior**
show prefix

[2020-04-25 16:14] weeryan17 commented on #212
We have this allready

[2020-04-25 16:38] mrjvs commented on #212
Broken on prod, should be fixed

[2020-04-25 16:39] weeryan17 commented on #212
Then an issue should be made saying its broken or this issue re-done. Currently this issue if phrased as a feature requests for a feature we already have.

[2020-04-25 16:40] weeryan17 commented on #212
Also the issue templates should have been fallowed

[2020-04-25 19:44] #212 closed

[2020-05-03 17:22] binaryoverload opened #217 "Joining a channel when a user plays a song"
It's been requested for the `;play` command to automatically join the bot to the current channel (If the user is in one)

Requirements:
 - If the user is not in a voice channel, the track is just played and the bot stays where it is
 - If the user is in a different channel than the user, the user needs `join.other` for the join to happen

@JamesHawkinss

[2020-05-03 17:22] JamesHawkinss commented on #217
assign plox

[2020-05-14 16:51] binaryoverload opened #219 "[Bug] Ban and Kick do not respect server hierarchy"
**Describe the bug**
Ban and Kick do not respect Discord Hierarchy

**To Reproduce**
Steps to reproduce the behaviour:
1. Kick JVS
2. Profit

**Expected behavior**
The bot should not kick or ban people if the requester cannot kick or ban in Discord itself. This could potentially be a setting to configure.

[2020-05-17 13:49] mrjvs opened #221 "[Feature request] Vote skip takes a long time"
**Is your feature request related to a problem? Please describe.**
Skip vote takes a long time.

**Describe the solution you'd like**
Skip vote time cut by half. so 15 seconds.
30 seconds is a big portion of a song already. better of not skipping it al together if it takes a long time.
On top of that I would also like for it to check for if the more than 50% of people in vc has voted yes.
if thats

[2020-05-17 14:01] weeryan17 commented on #221
I don't fully agree with lowering the vote time to the degree you suggested. I see the point in we might want to lower it, but we want to give people enough time to make sure everyone votes. This might be a thing we make a vote for our testers to see what they think.

[2020-05-17 14:29] JamesHawkinss commented on #221
I agree that the time should be shortened. Perhaps we can make it skip as soon as the threshold is met?

[2020-05-17 14:34] weeryan17 commented on #221
![Screenshot from 2020-05-17 09-34-28](https://user-images.githubusercontent.com/10491247/82151570-a5ba1580-9821-11ea-976c-50f8e20dfeb7.png)

[2020-05-28 08:47] TitusEntertainment opened #222 "[Feature Request] Add npm and mdn search functionallity"
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Other bots like [Yukikaze](https://github.com/Naval-Base/yukikaze) has search functionality on both npm and mdn. I believe it also has more search functionalities although, these are the main ones I'd like implemented. It would make programming/code related servers that has lots of js (like DesignCourse)

[2020-05-28 09:08] binaryoverload commented on #222
I like the idea of programming oriented features. There's so many that would be cool and it'd probably just end up being its own module.

That being said, this won't be for beta most likely but it's certainly something I'd like to do.

[2020-05-28 10:47] binaryoverload commented on #222
MDN: https://developer.mozilla.org/en-US/docs/MDN/Contribute/Tools/Search#Search_query_format
NPM: https://github.com/npm/registry/blob/master/docs/REGISTRY-API.md
Microsoft: https://docs.microsoft.com/en-gb/search/?search=fdf&category=All

[2020-05-28 12:10] binaryoverload commented on #219
This [method](https://ci.dv8tion.net/job/JDA/javadoc/net/dv8tion/jda/api/entities/Member.html#canInteract(net.dv8tion.jda.api.entities.Member)) can be used to check hierarchy

[2020-05-28 14:09] weeryan17 commented on #222
I feel like this is a lot better suited to custom commands as this is a thing only very specific guilds will want. It's a good suggestion for a script we could make and put on the script sharing site (whatever we call it).

[2020-06-11 19:57] #217 closed

[2020-06-13 13:28] #219 closed

[2020-06-13 17:16] villChurch commented on #221
If this is still up for grabs then happy to have a go.

[2020-06-13 17:18] weeryan17 commented on #221
Good luck. If you need any help let us know.

[2020-06-13 17:21] mrjvs commented on #221
The functionality (10s initial, +5s for every new vote) will probably require editing of the votes package (utils/votes). it only allows a static time without a way to update a time.

[2020-06-20 11:50] villChurch commented on #221
With this feature, I take it if 50% of people in vc voted you still want it to skip even with the new timer changes?

[2020-06-20 11:55] binaryoverload commented on #221
Yup! :)

[2020-07-23 22:37] mrjvs opened #233 "[Feature Request] Starboard and pins"
**Is your feature request related to a problem? Please describe.**
Starboard and pin reaction events.

**Describe the solution you'd like**
[code]

**Additional context**
Discussed with developers

[2020-08-29 12:27] #154 closed

[2020-08-29 20:31] #221 closed

[2020-09-07 18:40] #151 closed

[2020-10-10 19:34] binaryoverload opened #243 "Goodbye messages in channel"
Provide a feature parity for Goodbye and welcome.

The current goodbye command should become a `goodbyedm` command and a new `goodbye` command that controls goodbye messages inside the channel.

Requested by Titus#6786

[2020-11-16 14:52] mrjvs opened #248 "[Feature Request] Invite based autorole"
**Is your feature request related to a problem? Please describe.**
Roles based on which invite they used

**Describe the solution you'd like**
;autorole invite <id> <role>

**Additional context**
needs reliability testing
requested by: ME_Gaming#0554

**todo**
 - [ ] Reliability testing
 - [ ] Bot code

[2020-11-16 14:54] mrjvs opened #249 "[Feature Request] Command/feature descriptions for usages"
**Is your feature request related to a problem? Please describe.**
When a new user tries a new feature, its unclear what a certain command does.

**Describe the solution you'd like**
A clear description in the description field of the usage

[2021-01-31 23:38] weeryan17 opened #251 "[Bug] Negitive new timer with dynamic vote times"
**Describe the bug**
this error is thrown sometimes with dynamically timed vote groups [https://paste.traincarts.net/oboheyavow](https://paste.traincarts.net/oboheyavow)
I believe this has to do with voting near when the vote is supposed to run out (probably within milliseconds),. The new timer to finish the vote is passed in a negative time because of this on this line
[https://github.com/Cascade

[2021-05-31 15:19] Ikinon opened #256 "[Feature Request] Add additional response to ;play command."
**Is your feature request related to a problem? Please describe.**
It's confusing when you stop music and then type play again, or just type play without arguments with nothing in queue

**Describe the solution you'd like**
Create an additional message saying something like "There's no tracks in queue" when there is nothing in queue.

**Describe alternatives you've considered**
No idea

**Addition

[2021-07-02 11:10] weeryan17 opened #260 "[Bug] Test Bug report"
### Describe the bug

This is a test to test the new forms

### What are the steps to reproduce

Just a simple test

### Expected behavior

Still testing

### Error id

:)

[2021-07-02 11:11] #260 closed

[2021-09-03 00:17] weeryan17 commented on #249
With the implementation of slash commands afaik we're planning on drooping the usage command as discord themselves display the usage, maybe we should talk about this more though,

[2021-09-03 00:20] weeryan17 commented on #189
@mrjvs @binaryoverload opinions on closing the issue for now, and making a new issue after we do slash commands?

[2021-09-03 01:16] weeryan17 opened #263 "Slash Commands"
Due to discords upcoming policy changes it has been decided that we plan to implement slash commands before open beta. Currently, our experimental code for slash commands is located at [https://github.com/CascadeBot/SlashCommandsTest](https://github.com/CascadeBot/SlashCommandsTest). This issue will be the list of commands needed to be moved over to slash commands for future reference

## Core

-

[2021-09-03 07:11] mrjvs commented on #189
Agreed

[2021-09-03 09:12] binaryoverload commented on #189
Agreed

[2021-09-03 09:12] #189 closed

[2021-09-25 20:41] mrjvs opened #264 "Postgresql migration"
- [x] Create initial schema
- [x] implement schemas as models - `27th October 2021`
  - [x] guilds
  - [x] guild_settings_management
  - [x] guild_settings_moderation
  - [x] guild_settings_core
  - [x] guild_modules
  - [x] guild_autoroles
  - [x] guild_greetings
  - [x] guild_tags
  - [x] guild_modlog_events
  - [x] guild_modlog_events_enabled
  - [x] guild_todolist
  - [x] guild_todolist_items

[2021-09-25 20:43] mrjvs opened #265 "Custom scripting"
- [ ] isolated-vm implemenation
 - [ ] nats communcation bot side
 - [ ] nats communication vm side
 - [ ] bindings between discord and vm

[2021-09-25 20:51] mrjvs opened #266 "Fun commands"
- Cat
- Color
- Dog
- Joke
- Random
- Color
- Choice
- Number+

[2021-09-25 20:54] mrjvs opened #267 "implement hibernate"

[2021-09-25 20:54] #267 closed, assigned to nobody